:root {
  --pointColor: #2c3c57;

  /* button */
  --buttonColor: #428ace;

  /* input / select / textarea */
  --inputBorder: 1px solid #dcdcdc;
  --inputFocusBorder: 1px solid #428ace;

  /* table */
  --tableBorder: 1px solid #dcdcdc;
  --thBackColor: #f0f1f3;
  --thFontColor: var(--pointColor);
}

/* 전체설정 */
table {
  width: 100%;
}

table td,
th {
  border: var(--tableBorder);
  padding: 15px;
  height: 76px;
}

th {
  color: var(--thFontColor);
  background-color: var(--thBackColor);
}

.container table caption {
  text-transform: uppercase;
  text-align: left;
  font-size: 30px;
  color: var(--pointColor);
  margin-bottom: 15px;
  margin-top: 50px;
  padding-left: 26px;
}

.container table caption span {
  font-weight: 600;
  position: relative;
}

.container table caption span::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -26px;
  height: 30px;
  width: 5px;
  background-color: var(--pointColor);
}

.container table caption span::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -26px;
  height: 5px;
  width: 5px;
  background-color: #aec8f4;
}

input,
select,
textarea {
  outline: none;
  border: var(--inputBorder);
}

input:focus,
select:focus,
textarea:focus {
  border: var(--inputFocusBorder);
}

td select,
td input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

label.modify,
button.modify {
  background-color: var(--buttonColor);
  color: #fff;
  font-size: 1rem;
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.3s;
}

label.modify:hover,
button.modify:hover {
  background-color: var(--pointColor);
}

button.playerOut {
  background-color: rgb(146, 9, 43);
  color: #fff;
  font-size: 1rem;
  padding: 5px 7px;
  border-radius: 5px;
  transition: 0.3s;
}

button.playerOut:hover {
  background-color: rgb(83, 7, 26);
}

/* ________________________________________________________________ */

/* FORM TEAM */
form.team {
  width: 100%;
  position: relative;
}

form.team div.teamImage {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: var(--tableBorder);
  margin: 0 auto 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

form.team div.teamImage img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

form.team div.teamImage label.modify {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* FORM TEAM table.teamDetail*/
table.teamDetail {
  width: 70%;
  margin: 0 auto;
}

table.teamDetail th {
  width: 30%;
}

table.teamDetail div.origin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table.teamDetail div.new {
  text-align: center;
}

table.teamDetail div.uniform input {
  width: 40%;
}

table.teamDetail input.checkBotInput {
  display: none;
}

/* input[id=branch] */
table.teamDetail input[id='teamName'] ~ div.new {
  display: none;
}

table.teamDetail input[id='teamName']:checked ~ div.origin {
  display: none;
}

table.teamDetail input[id='teamName']:checked ~ div.new {
  display: block;
}

/* input[id=branch] */
table.teamDetail input[id='branch'] ~ div.new {
  display: none;
}

table.teamDetail input[id='branch']:checked ~ div.origin {
  display: none;
}

table.teamDetail input[id='branch']:checked ~ div.new {
  display: block;
}

/* input[id=director] */
table.teamDetail input[id='director'] ~ div.new {
  display: none;
}

table.teamDetail input[id='director']:checked ~ div.origin {
  display: none;
}

table.teamDetail input[id='director']:checked ~ div.new {
  display: block;
}

/* input[id=uniform] */
table.teamDetail input[id='uniform'] ~ div.new {
  display: none;
}

table.teamDetail input[id='uniform']:checked ~ div.origin {
  display: none;
}

table.teamDetail input[id='uniform']:checked ~ div.new {
  display: block;
}

/* FORM TEAM table.playerList*/
table.playerList thead th:first-child {
  width: 7%;
}

table.playerList thead th:last-child {
  width: 8%;
}

table.playerList tbody td:first-child,
table.playerList tbody td:last-child {
  text-align: center;
}

table.playerList td div.player {
  display: flex;
  align-items: center;
}

table.playerList td div.player span.playerImage {
  width: 70px;
  height: 94px;
}

table.playerList td div.player span.playerImage img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
}

div.btnBox {
  margin: 20px 0;
}

div.btnBox button {
  float: right;
}
