:root {
  /* body */
  --bodyColor: #f5f6f7;
  --bodyPadding: 60px 20px 0;
  --footerPadding: 0 0 30px;

  /* font */
  --allFontColor: #383838;
  --pointFontColor: #003e94;
  --footerFontColor: #959595;

  /* border */
  --acMenuBorder: 1px solid #cacaca;

  /* loginFrm */
  --loginFrmWidth: 460px;
  --loginInputHeight: 60px;
  --logInputBackColor: #fff;
  --loginInputPadding: 3px 9px;
  --loginInputBorder: 1px solid #ddd;

  /* loginButton */
  --loginBackgroundColor: #2c3c57;
  --loginButtonHeight: 68px;
  --loginButtonFontColor: #fff;
  --loginButtonFontSize: 1.5rem;
  --loginButtonHoverColor: #003f96;

  /* SNS LOGIN */
  --kakaoBackColor: #fff200;
  --kakaoFontColor: #412e34;
  --naverBackColor: #1ec800;
  --faceBookColor: #475993;
  --socialFontColor: #fff;

  --snsLoginWidth: 460px;
  --snsLoginTitleSize: 1.25rem;
  --snsButtonHeight: 68px;

  /* FOOTER */
  --footerFontSize: 10px;
}

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 전체 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--allFontColor);
  font-family: "S-CoreDream-3Light";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button[type="button"],
button[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input::placeholder {
  color: #d1d0d0;
}

input {
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid rgb(87, 153, 253);
}

/* SKIP */
.skip {
  display: none;
}

/* BODY */
body {
  background-color: var(--bodyColor);
}

.bodyDiv {
  position: absolute;
  top: 0;
  left: 0;

  padding: var(--bodyPadding);

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 0;
}

/* logo */
h1.logo {
  margin-bottom: 36px;
}

h1.logo a {
  font-family: "KBO-Dia-Gothic_bold";
}

main form {
  width: var(--loginFrmWidth);
}

/* JOIN */

main form .trumDiv {
  margin-bottom: 20px;
}

main form .trumDiv label span {
  font-weight: 600;
  font-size: 1.2rem;
}

main form .trumDiv label input[type="checkbox"] {
  appearance: none;
}

main form .trumDiv label input[type="checkbox"] + span::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/noChenk.png);
  margin-right: 5px;
}

main form .trumDiv label input[type="checkbox"]:checked + span::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/yesCheck.png);
  margin-right: 5px;
}

main form .trumDiv label span.essential::after {
  content: "(필수)";
  font-size: 0.88rem;
  color: var(--pointFontColor);
  margin-left: 5px;
}

/* TURM */
main form .trumDiv .trum {
  padding: 5px;
  margin-top: 5px;
  height: 110px;
  overflow-y: auto;
  border: 1px solid #c3c3c3;
  background: #fff;
}

main form .trumDiv:last-child {
  margin-bottom: 0;
}

main form .trumDiv .trum p.mt {
  margin-top: 20px;
}

main form .trumDiv .trum p {
  font-size: 0.85rem;
  color: #555;
}

/* BUTTON */

main form .aceeptButton {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

main form .aceeptButton button {
  width: 49%;
  font-size: 1.5em;
  color: #fff;
  height: var(--loginButtonHeight);
  transition: 0.5s;
}

main form .aceeptButton .noAccep {
  background-color: #868686;
}

main form .aceeptButton .aceep {
  background-color: var(--loginBackgroundColor);
}

main form .aceeptButton button:hover {
  background-color: var(--loginButtonHoverColor);
}

/* JOIN Input */
main form ul li {
  width: 100%;
}

main form ul li > label,
main form ul li > input[type="text"],
main form ul li > input[type="password"] {
  display: block;
  width: 100%;
  padding: var(--loginInputPadding);
  font-size: 1rem;
}

main form ul li > label {
  margin-top: 28px;
  font-size: var(--snsLoginTitleSize);
  font-weight: 600;
  line-height: 2.3rem;
}

main form ul li > label .essential {
  font-size: 0.88rem;
  color: var(--pointFontColor);
  margin-left: 5px;
}

main form ul li input[type="text"],
main form ul li input[type="password"] {
  height: var(--loginInputHeight);
  border: var(--loginInputBorder);
}

main form ul li .phone {
  width: 100%;
  height: var(--loginInputHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main form ul li .phone input {
  width: 30%;
  height: 100%;
}

main form ul li .phone span {
  font-size: 10px;
}

main form ul li.user_phone_certified {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main form ul li.user_phone_certified label {
  margin: 0;
  width: fit-content;
}

main form ul li.user_phone_certified input[type="button"] {
  background-color: var(--loginBackgroundColor);
  color: var(--loginButtonFontColor);
  width: 180px;
  height: var(--loginInputHeight);
  font-size: var(--snsLoginTitleSize);
  transition: 0.5s;
}

main form ul li.user_phone_certified input[type="button"]:hover {
  background-color: var(--loginButtonHoverColor);
}

main form ul li .message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main form ul li .message input[type="button"] {
  background-color: var(--loginBackgroundColor);
  color: var(--loginButtonFontColor);
  width: 180px;
  height: var(--loginInputHeight);
  font-size: var(--snsLoginTitleSize);
  transition: 0.5s;
}

main form ul li .message input[type="button"]:hover {
  background-color: var(--loginButtonHoverColor);
}

main form ul li .message input[type="text"] {
  width: 270px;
  height: var(--loginInputHeight);
}

main form .joinBtn {
  margin-top: 24px;
  width: 100%;
  height: var(--loginInputHeight);
  background-color: var(--loginBackgroundColor);
  font-size: var(--snsLoginTitleSize);
  color: var(--loginButtonFontColor);
  transition: 0.5s;
}

main form .joinBtn:hover {
  background-color: var(--loginButtonHoverColor);
}

/* FOOTER */
footer {
  padding: var(--footerPadding);
  margin-top: 40px;
  text-align: center;
}

footer p {
  margin-top: 4px;
  color: var(--footerFontColor);
  font-size: var(--footerFontSize);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
