:root {
  --bodyColor: #f5f6f7;
  --mainColor: #003e94;
  --pointColor: #2c3c57;
  --hoverColor: #003f96;

  /* font */
  --allFontColor: #383838;
  --logoFontfamlily: 'KBO-Dia-Gothic_bold';

  /* form */
  --formWidth: 460px;

  /* input */
  --inputBorder: 1px solid #ddd;
  --focusBorder: 1px solid rgb(112, 146, 203);
  --inputHeight: 60px;
  --inputPadding: 3px 9px;

  /* button */
  --loginHeight: 68px;
  --loginButtonFontSize: 1.5rem;

  /* SNS LOGIN */
  --snsButtonHeight: 68px;
  --kakaoColor: #fff200;
  --kakaoFontColor: #412e34;
  --naverColor: #1ec800;
  --faceBookColor: #475993;
  --socialFontColor: #fff;

  /* FOOTER */
  --footerFontSize: 10px;
  --footerFontColor: #959595;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--allFontColor);
  font-family: 'S-CoreDream-3Light';
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input::placeholder {
  color: #d1d0d0;
}

input {
  outline: none;
}

/* 시작 */
body {
  background-color: var(--bodyColor);
}

section.container {
  width: var(--formWidth);
  margin: 0 auto;
  padding: 60px 0 0;
}

section.container h1.logo {
  font-size: 2rem;
  text-align: center;
  font-family: var(--logoFontfamlily);
  text-transform: uppercase;
  cursor: pointer;
}

/* SECTION FORM */
section.container form {
  width: 100%;
  margin: 36px 0 48px;
}

/* CHECKBOX */

label.checkBox {
  cursor: pointer;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.checkBox input[type='checkbox'] {
  display: none;
}

label.checkBox span.icon {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 4px solid #d1d0d0;
  position: relative;
  cursor: pointer;
  border-radius: 3px;

  margin-right: 10px;
}

label.checkBox .icon::after,
label.checkBox .icon::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 0;
  background-color: var(--pointColor);
  position: absolute;
  transform-origin: left top;
  border-radius: 5px;
}

label.checkBox .icon::before {
  top: 10px;
  left: -1px;
  transform: rotate(-40deg);
}

label.checkBox .icon::after {
  top: 24px;
  left: 12px;
  transform: rotate(-145deg);
}

label.checkBox input:checked ~ .icon {
  border-color: var(--pointColor);
}

label.checkBox input:checked ~ .icon::before {
  height: 15px;
  transition: all 0.35s ease;
}

label.checkBox input:checked ~ .icon::after {
  height: 35px;
  transition: all 0.35s ease 0.35s;
}

label.checkBox span.term {
  display: inline-block;
  width: 410px;
  font-weight: 600;
  font-size: 1.2rem;
}

div.turmDiv {
  margin: 50px 0;
}

/* TURM */
div.turm {
  padding: 5px;
  margin-top: 5px;
  height: 110px;
  overflow-y: auto;
  border: 1px solid #c3c3c3;
  background: #fff;
}

label div.turm p.mt {
  margin-top: 20px;
}

label div.turm p {
  font-size: 0.85rem;
  color: #555;
}

div.btnBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.btnBox button {
  width: 49%;
  background-color: #868686;
  color: #fff;
  padding: 20px;
  font-size: var(--loginButtonFontSize);
  transition: 0.3s;
}

div.btnBox button.accept {
  background-color: var(--pointColor);
}

div.btnBox button:hover {
  background-color: var(--mainColor);
}

/* JOIN FORM */
form ul li {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form ul li label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

form ul li label span.essential {
  font-size: 0.9rem;
  color: var(--mainColor);
  margin-left: 5px;
}

form ul li input {
  height: var(--inputHeight);
  border: var(--inputBorder);
  padding: var(--inputPadding);
  font-size: 1rem;
}

form ul li input:focus {
  border: var(--focusBorder);
}

form ul li.confirmMail {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form ul li button {
  width: 40%;
  background-color: var(--pointColor);
  color: #fff;
  font-size: 1.2rem;
  height: var(--inputHeight);
  transition: 0.3s;
}

form ul li button:hover,
form button.joinBtn:hover {
  background-color: var(--mainColor);
}

form ul li div.mail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form ul li div.mail input.mailConfirm,
form ul li div.mail input.id_check {
  width: 58%;
}

form button.joinBtn {
  width: 100%;
  height: var(--inputHeight);
  margin: 10px 0;
  background-color: var(--pointColor);
  color: #fff;
  font-size: 1.3rem;
  transition: 0.3s;
}

/* FOOTER */
section.container div.footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--footerFontSize);
  color: var(--footerFontColor);
}

section.container div.footer h3.logo {
  font-size: 1.1rem;
  font-family: var(--logoFontfamlily);
  margin-bottom: 7px;
}

/* ID CHECK 중복확인 */
div.IdCheck {
  width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}

div.IdCheck .title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--allFontColor);
  margin-bottom: 20px;
}

div.IdCheck .title button {
  font-size: 2rem;
}

div.yes,
div.no {
  text-align: center;
}

div.yes button,
div.no > button {
  background-color: var(--pointColor);
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s;
}

div.yes button:hover,
div.no > button:hover {
  background-color: var(--mainColor);
}

div.no .search {
  width: 100%;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}

div.no .search label {
  display: inline-block;
  width: 20%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

div.no .search input {
  width: 57%;
  border: var(--inputBorder);
  padding: var(--inputPadding);
  font-size: 1rem;
}

div.no .search button {
  background-color: var(--pointColor);
  color: #fff;
  width: 20%;
  font-size: 1rem;
}
