:root {
  /* body */
  --bodyColor: #f5f6f7;
  --bodyPadding: 60px 20px 0;
  --footerPadding: 0 0 30px;

  /* font */
  --allFontColor: #383838;
  --pointFontColor: #003e94;

  /* border */
  --acMenuBorder: 1px solid #cacaca;

  /* loginFrm */
  --loginFrmWidth: 460px;
  --loginInputHeight: 60px;
  --logInputBackColor: #fff;
  --loginInputPadding: 3px 9px;
  --loginInputBorder: 1px solid #ddd;

  /* loginButton */
  --loginBackgroundColor: #2c3c57;
  --loginButtonHeight: 68px;
  --loginButtonFontColor: #fff;
  --loginButtonFontSize: 1.5rem;
  --loginButtonHoverColor: #003f96;

  /* SNS LOGIN */
  --kakaoBackColor: #fff200;
  --kakaoFontColor: #412e34;
  --naverBackColor: #1ec800;
  --faceBookColor: #475993;
  --socialFontColor: #fff;

  --snsLoginWidth: 460px;
  --snsLoginTitleSize: 1.25rem;
  --snsButtonHeight: 68px;

  /* FOOTER */
  --footerFontSize: 10px;
  --footerFontColor: #959595;
}

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 전체 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--allFontColor);
  font-family: "S-CoreDream-3Light";
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button[type="button"],
button[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input::placeholder {
  color: #d1d0d0;
}

input {
  outline: none;
}

/* SKIP */
.skip {
  display: none;
}

/* BODY */
body {
  background-color: var(--bodyColor);
}

.bodyDiv {
  position: absolute;
  top: 0;
  left: 0;

  padding: var(--bodyPadding);

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 0;
}

/* logo */
h1.logo {
  margin-bottom: 36px;
}

h1.logo a {
  font-family: "KBO-Dia-Gothic_bold";
}

/* loginFrm */
main #loginFrm {
  width: var(--loginFrmWidth);
}

main #loginFrm fieldset {
  border: none;
}

main #loginFrm fieldset ul li input {
  width: 100%;
  height: var(--loginInputHeight);
  padding: var(--loginInputPadding);
  border: var(--loginInputBorder);
  margin-bottom: 10px;
  font-size: 1rem;
}

.bodyDiv form input[type="text"]:focus,
.bodyDiv form input[type="password"]:focus {
  border: 2px solid rgb(137, 165, 255);
}

main #loginFrm fieldset .btm p label input[name="save_id"] {
  appearance: none;
}

main #loginFrm fieldset .btm p label input[name="save_id"] + span::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/noChenk.png);
  margin-right: 5px;
}

main #loginFrm .btm p label input[name="save_id"]:checked + span::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/yesCheck.png);
  margin-right: 5px;
}

main #loginFrm .btm p label span {
  font-size: 0.9rem;
  font-weight: 600;
}

main #loginFrm fieldset #login_btn {
  width: 100%;
  height: var(--loginButtonHeight);
  color: var(--loginButtonFontColor);
  font-size: var(--loginButtonFontSize);
  background-color: var(--loginBackgroundColor);

  margin-top: 40px;
  transition: 0.5s;
}

main #loginFrm fieldset #login_btn:hover {
  background-color: var(--loginButtonHoverColor);
}

main .accountMenu {
  margin-top: 48px;
  padding-top: 22px;
  border-top: var(--acMenuBorder);
  text-align: center;
}

main .accountMenu a.find_pwd,
main .accountMenu a.join {
  margin-left: 23px;
  position: relative;
}

main .accountMenu a.find_pwd::after,
main .accountMenu a.join::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -12px;
  margin-top: -9px;
  width: 1px;
  height: 18px;
  background: #c4c4c4;
}

main .accountMenu a.join {
  color: var(--pointFontColor);
  font-weight: 600;
}

.container input:focus {
  border: 2px solid rgb(137, 165, 255);
}

/* SNS LOGIN */
main .snsLogin {
  margin-top: 64px;
  width: var(--snsLoginWidth);
}

main .snsLogin p {
  font-size: var(--snsLoginTitleSize);
  margin-bottom: 8px;
}

main .snsLogin .snsButtons {
  display: flex;
  flex-direction: column;
}

main .snsLogin .snsButtons button {
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  height: var(--snsButtonHeight);
  font-size: var(--snsLoginTitleSize);
  position: relative;
  text-align: left;
  padding-left: 75px;
}

main .snsLogin .snsButtons button.kakao {
  background-color: var(--kakaoBackColor);
  color: var(--kakaoFontColor);
}

main .snsLogin .snsButtons button.kakao .logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 60px;
  height: 68px;
  background: url(/images/kakao.png) no-repeat center center;
}

main .snsLogin .snsButtons button.kakao span.snsLoginGO:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 68px;
  background: url(/images/kakaologin.png) no-repeat center center;
}

main .snsLogin .snsButtons button.naver {
  background-color: var(--naverBackColor);
  color: var(--socialFontColor);
}

main .snsLogin .snsButtons button.naver .logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 60px;
  height: 68px;
  background: url(/images/naver.png) no-repeat center center;
}

main .snsLogin .snsButtons button.naver span.snsLoginGO:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 68px;
  background: url(/images/snslogin.png) no-repeat center center;
}

main .snsLogin .snsButtons button.facebook {
  background-color: var(--faceBookColor);
  color: var(--socialFontColor);
}

main .snsLogin .snsButtons button.facebook .logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 60px;
  height: 68px;
  background: url(/images/facebook.png) no-repeat center center;
}

main .snsLogin .snsButtons button.facebook span.snsLoginGO:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 68px;
  background: url(/images/snslogin.png) no-repeat center center;
}

/* FOOTER */
footer {
  padding: var(--footerPadding);
  margin-top: 40px;
  text-align: center;
}

footer p {
  margin-top: 4px;
  color: var(--footerFontColor);
  font-size: var(--footerFontSize);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

/* ACCOUNT MENU */
#find_idDiv {
  display: none;
}

#find_pwdDiv {
  display: none;
}

.container {
  position: absolute;
  top: 0;

  margin: 20px auto;
  max-width: 646px;
  padding: 78px 90px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  position: relative;

  z-index: 1000;
}

/* CLOSE BUTTON */
.container .closeButton {
  position: absolute;
  right: 0;
  top: 0;

  width: 60px;
  height: 60px;
}

.container .closeButton i {
  font-size: 35px;
}

/* CONTAINER TITLE */
.container h1 {
  font-size: 1.6em;
  font-weight: normal;
}

/* CONTAINER FORM */
.container form {
  margin: 0 auto;
  width: 100%;
  margin-top: 25px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form input {
  border: var(--loginInputBorder);
  width: 100%;
  height: var(--loginInputHeight);
  margin-top: 12px;
  padding: var(--loginInputPadding);
  font-size: 1rem;
}

.container form button {
  width: 50%;
  margin-top: 28px;
  height: var(--loginButtonHeight);
  background-color: var(--loginBackgroundColor);
  color: var(--loginButtonFontColor);
  font-size: 1.5rem;
}

.background000 {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

#background {
  width: 100%;
  background-color: #000000ad;

  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 900;

  display: none;
}
