:root {
  --bodyColor: #f5f6f7;
  --mainColor: #003e94;
  --pointColor: #2c3c57;
  --hoverColor: #003f96;

  /* font */
  --allFontColor: #383838;
  --logoFontfamlily: 'KBO-Dia-Gothic_bold';

  /* form */
  --formWidth: 460px;

  /* input */
  --inputBorder: 1px solid #ddd;
  --focusBorder: 1px solid rgb(112, 146, 203);
  --inputHeight: 60px;
  --inputPadding: 3px 9px;

  /* button */
  --loginHeight: 68px;
  --loginButtonFontSize: 1.5rem;

  /* SNS LOGIN */
  --snsButtonHeight: 68px;
  --kakaoColor: #fff200;
  --kakaoFontColor: #412e34;
  --naverColor: #1ec800;
  --faceBookColor: #475993;
  --socialFontColor: #fff;

  /* FOOTER */
  --footerFontSize: 10px;
  --footerFontColor: #959595;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--allFontColor);
  font-family: 'S-CoreDream-3Light';
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input::placeholder {
  color: #d1d0d0;
}

input {
  outline: none;
}

/* 시작 */
body {
  background-color: var(--bodyColor);
}

section.container {
  width: var(--formWidth);
  margin: 0 auto;
  padding: 60px 0 0;
}

section.container h1.logo {
  font-size: 2rem;
  text-align: center;
  font-family: var(--logoFontfamlily);
  text-transform: uppercase;
  cursor:pointer;
}

section.container form {
  width: 100%;
  margin: 36px 0 48px;
}

section.container form dl dt {
  display: none;
}

section.container form dl dd {
  margin-bottom: 10px;
}

section.container form input#userId,
section.container form input#userPw {
  width: 100%;
  height: var(--inputHeight);
  padding: var(--inputPadding);
  border: var(--inputBorder);
  font-size: 1rem;
}

section.container form input#userId:focus,
section.container form input#userPw:focus {
  border: var(--focusBorder);
}

section.container form button {
  display: block;
}

section.container form label.remId {
  cursor: pointer;
  display: flex;
  align-items: center;
}

section.container form label.remId input {
  display: none;
}
section.container form label.remId .icon {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 4px solid #d1d0d0;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

section.container form label.remId .icon::after,
section.container form label.remId .icon::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 0;
  background-color: var(--pointColor);
  position: absolute;
  transform-origin: left top;
  border-radius: 5px;
}

section.container form label.remId .icon::before {
  top: 10px;
  left: -1px;
  transform: rotate(-40deg);
}

section.container form label.remId .icon::after {
  top: 24px;
  left: 12px;
  transform: rotate(-145deg);
}

section.container form label.remId input:checked ~ .icon {
  border-color: var(--pointColor);
}

section.container form label.remId input:checked ~ .icon::before {
  height: 15px;
  transition: all 0.35s ease;
}

section.container form label.remId input:checked ~ .icon::after {
  height: 35px;
  transition: all 0.35s ease 0.35s;
}

section.container form button {
  width: 100%;
  height: var(--loginHeight);
  font-size: var(--loginButtonFontSize);
  background-color: var(--pointColor);
  color: #fff;
  transition: 0.3s;
  margin-top: 40px;
}

section.container form button:hover {
  background-color: var(--mainColor);
}

section.container ul.acBtn {
  padding: 22px 0;
  border-top: 1px solid #c4c4c4;

  display: flex;
  justify-content: center;
  align-items: center;
}

section.container ul.acBtn li {
  position: relative;
  margin: 0 12px;
}

section.container ul.acBtn li label {
  cursor: pointer;
}

section.container ul.acBtn li:nth-child(2)::before,
section.container ul.acBtn li:nth-child(2)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  width: 1px;
  height: 1rem;
  background: #c4c4c4;
}

section.container ul.acBtn li:nth-child(2)::before {
  left: -12px;
}
section.container ul.acBtn li:nth-child(2)::after {
  right: -12px;
}

section.container ul.acBtn a {
  color: var(--mainColor);
  font-weight: bold;
}

section.container div.snsLogin {
  margin-top: 64px;
}

section.container div.snsLogin p {
  font-size: 1.3rem;
}

section.container div.snsLogin button {
  width: 100%;
  display: block;
  height: var(--snsButtonHeight);
  font-size: 1.2rem;
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 8px;
}

section.container div.snsLogin button.kakao {
  background-color: var(--kakaoColor);
  color: var(--kakaoFontColor);
}

section.container div.snsLogin button.naver {
  background-color: var(--naverColor);
  color: #fff;
}

section.container div.snsLogin button.faceBook {
  background-color: var(--faceBookColor);
  color: #fff;
}

section.container div.snsLogin button.kakao span {
  margin-right: 05px;
}

section.container div.snsLogin button::before {
  content: '';
  display: block;
  width: 60px;
  height: 68px;

  position: absolute;
  right: 0;
}

section.container div.snsLogin button.kakao::before {
  background: url('../images/kakaologin.png');
}

section.container div.snsLogin button.naver::before,
section.container div.snsLogin button.faceBook::before {
  background: url('../images/snslogin.png');
}

section.container div.footer {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--footerFontSize);
  color: var(--footerFontColor);
}

section.container div.footer h3.logo {
  font-size: 1.1rem;
  font-family: var(--logoFontfamlily);
  margin-bottom: 7px;
}

label.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

label.background {
  display: none;
}

section.findId,
section.findPw {
  width: 626px;
  background-color: #fff;
  padding: 78px 90px;
  border-radius: 10px;

  margin:20px auto;
  position:relative;
}

section.findId label.closeBtn,
section.findPw label.closeBtn {
  position: absolute;
  top: 0;
  right: 20px;

  font-size: 3rem;
  color: #000;
}

section.findId h3,
section.findPw h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

section.findId dt,
section.findPw dt {
  display: none;
}

section.findId dl,
section.findPw dl {
  margin-bottom: 28px;
}

section.findId input,
section.findPw input {
  width: 446px;
  height: var(--inputHeight);
  border: var(--inputBorder);
  margin-top: 12px;
  padding: var(--inputPadding);
  font-size: 1rem;
}

section.findId .button,
section.findPw .button {
  text-align: center;
}

section.findId button,
section.findPw button {
  background-color: var(--pointColor);
  color: #fff;
  font-size: 1.3rem;
  width: 200px;
  height: var(--loginHeight);
}

input[id='findId']:checked ~ section.findId {
  display: block;
}

input[id='findId']:checked + label[for='findId'] {
  display: block;
}

input[id='findPw']:checked ~ section.findPw {
  display: block;
}

input[id='findPw']:checked + label[for='findPw'] {
  display: block;
}

body > input {
  display: none;
}
