:root {
    --pointColor: #2c3c57;
    --beforeColor: #bfc4cc;
}

/* INPUT RADIO */
input[type="radio"] {
    display: none;
}

.mgrPage {
    display: none;
}

input[id="mgrReserRadio"]:checked~.harlfButton label[for="mgrReserRadio"],
input[id="mgrTeamRadio"]:checked~.harlfButton label[for="mgrTeamRadio"],
input[id="mgrSchRadio"]:checked~.harlfButton label[for="mgrSchRadio"],
input[id="mgrUserRadio"]:checked~.harlfButton label[for="mgrUserRadio"] {
    background-color: var(--pointColor);
    color: #fff;
}

input[id="mgrReserRadio"]:checked~.container #mgrReserContent,
input[id="mgrTeamRadio"]:checked~.container #mgrTeamContent,
input[id="mgrSchRadio"]:checked~.container #mgrSchContent,
input[id="mgrUserRadio"]:checked~.container #mgrUserContent {
    display: block;
}


/* 메인,헤더 */
main {
    position: relative;
    top: 85px;
    min-height: 89.4vh;
}

header .headerBar {
    top: 0 !important;
}

/* CONTAINER - SECTION */
main .container section {
    width: 100%;
    padding: 0 15px;
}

/* CONTAINER - SECTION - TABLE */
main .container section table {
    width: 100%;
}

main .container section#mgrReserContent table th,
main .container section#mgrReserContent table td {
    padding: 11px;
}

main .container section table td a {
    color: #424242;
}

main .container section table thead {
    border-top: 1px solid var(--pointColor);
    color: var(--pointColor);
}

main .container section table thead .no {
    width: 15%;
}

main .container section table thead .date {
    width: 1%;
}

main .container section table thead .state {
    width: 22%;
}

main .container section table tbody tr:hover {
    background-color: #eee;
    cursor: pointer;
}

main .container section table tbody td {
    border-top: 1px solid var(--beforeColor);
    text-align: center;
}

main .container section table tbody tr:last-child {
    border-bottom: 1px solid var(--pointColor);
}

/* CONTAINER - SECTION - PAGINATION */
.container .pagination {
    display: flex;
    justify-content: center;
}

.container .pagination li {
    cursor: pointer;
    width: 45px;
    padding: 10px 15px;
    position: relative;
    bottom: 0px;
    text-align: center;
    margin: 5px;
    border: 1px solid var(--beforeColor);
    color: var(--beforeColor);
}

.container .pagination li.active {
    background-color: var(--pointColor);
    color: #fff;
}

.container .pagination li:hover {
    border-color: var(--pointColor);
    color: var(--pointColor);
}

/*mgrPopUp*/
.reserPopup,
.teamPopup,
.playerPopup,
.schPopup,
.userPopup,
.schAddPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    background-color: #eee;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

.reservationInfo,
.teamInfo,
.playerInfo,
.schInfo,
.userInfo,
.schAddInfo {
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

.reservationInfo h2,
.teamInfo h2,
.playerInfo h2,
.schInfo h2,
.userInfo h2,
.schAddInfo h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.mgrReserInfo,
.mgrTeamInfo,
.mgrPlayerInfo,
.mgrUserInfo,
.mgrSchAddInfo {
    padding: 20px 20px;
}

.mgrReserInfo td,
.mgrTeamInfo td,
.mgrPlayerInfo td,
.mgrUserInfo td,
.mgrSchAddInfo td {
    width: 250px;
}

.mgrReserInfo tr,
.mgrTeamInfo tr,
.mgrPlayerInfo tr,
.mgrUserInfo tr,
.mgrSchAddInfo tr {
    line-height: 55px;
}

.mgrBtn input[type="button"] {
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #192336 !important;
    color: #ffff;
}

.mgrBtn input[type="button"]:hover {
    background-color: #424242 !important;

}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
}

.closeBtn:hover {
    color: #424242;
}

/*mgrTeamContent*/
section#mgrTeamContent table {
    width: 100%;
}

section#mgrTeamContent table .col1 {
    width: 7%;
}

section#mgrTeamContent table .col2 {
    width: 20%;
}

section#mgrTeamContent table .col4 {
    width: 15%;
}

section#mgrTeamContent table .col5 {
    width: 12%;
}

section#mgrTeamContent table .col6 {
    width: 100px;
}

section#mgrTeamContent table thead {
    border-top: 2px solid var(--pointColor);
    border-bottom: 2px solid var(--pointColor);
}

section#mgrTeamContent table thead th {
    padding: 11px;
}

section#mgrTeamContent table tbody td {
    text-align: center;
}

section#mgrTeamContent table tbody td:first-child,
section#mgrTeamContent table tbody td:last-child {
    border-right: none;
    border-left: none;
}

section#mgrTeamContent table tbody td .teamName {
    display: flex;
    align-items: center;
}

section#mgrTeamContent table tbody td .teamName .teamImage {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

section#mgrTeamContent table tbody td .teamName .teamImage img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

section#mgrTeamContent table tbody td .teamName .teamTitle a {
    font-weight: bold;
    color: #000;
}

section#mgrTeamContent table tbody td .teamName .teamTitle a:hover {
    text-decoration: underline;
}

/*addPlayerContent*/
section#addPlayerContent table {
    width: 100%;
}

section#addPlayerContent table .col1 {
    width: 7%;
}

section#addPlayerContent table .col2 {
    width: 15%;
}

section#addPlayerContent table .col3 {
    width: 26%;
}

section#addPlayerContent table .col4 {
    width: 15%;
}

section#addPlayerContent table .col5 {
    width: 5%;
}

section#addPlayerContent table .col6 {
    width: 5%;
}

section#addPlayerContent table .col7 {
    width: 5%;
}

section#addPlayerContent table .col8 {
    width: 5%;
}

section#addPlayerContent table .col9 {
    width: 100px;
}

section#addPlayerContent table thead {
    border-top: 2px solid var(--pointColor);
    border-bottom: 2px solid var(--pointColor);
}

section#addPlayerContent table thead th {
    padding: 11px;
}

section#addPlayerContent table tbody td {
    text-align: center;
}

section#addPlayerContent table tbody td {
    border-top: 1px solid var(--pointColor);
}

section#addPlayerContent table tbody td:first-child,
section#addPlayerContent table tbody td:last-child {
    border-right: none;
    border-left: none;
}

section#addPlayerContent table tbody tr:last-child {
    border-bottom: 1px solid var(--pointColor);
}

section#addPlayerContent table tbody td .teamName {
    display: flex;
    align-items: center;
}

section#addPlayerContent table tbody td .teamName .teamImage {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

section#addPlayerContent table tbody td .teamName .teamImage img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

section#addPlayerContent table tbody td .teamName .teamTitle a {
    font-weight: bold;
    color: #000;
}

section#addPlayerContent table tbody td .teamName .teamTitle a:hover {
    text-decoration: underline;
}

/*userContent*/
.mgrUserTableTop {
    display: flex;
    justify-content: flex-end;
    top: -15px;
    position: relative;
    color: #2c3c57;
}

main .container section#mgrUserContent table th,
main .container section#mgrUserContent table td {
    padding: 11px;
}

section#mgrUserContent table {
    width: 100%;
}

section#mgrUserContent table .col1 {
    width: 17%;
}

section#mgrUserContent table .col2 {
    width: 30%;
}

section#mgrUserContent table .col3 {
    width: 8%;
}

section#mgrUserContent table .col4 {
    width: 8%;
}

/*  mgrSchContent */
section#mgrSchContent .schAddBtn {
    background-color: #192336;
    color: #fff;
    font-size: 1rem;
    bottom: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}

.mgrSch ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d7d7d7;
    background-color: #fff;
}

.mgrSch ul:first-child {
    border-top: 1px solid var(--pointColor);
    border-bottom: 1px solid var(--pointColor);
}

.mgrSch ul li {
    height: 70px;
    padding: 17px 0;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mgrSch ul li a {
    color: var(--pointColor);
}

.mgrSch ul li.place {
    width: 10%;
}

.mgrSch ul li.playInfo {
    width: 25%;
    flex-direction: column;
}

.mgrSch ul li.playInfo div {
    color: var(--pointColor);
}

.mgrSch ul li.playInfo div span {
    font-size: 1.5rem;
}

.mgrSch ul li.team {
    width: 20%;
}

.mgrSch ul li.score {
    width: 10%;
    font-size: 2rem;
    color: var(--pointColor);
}

.mgrSch ul li.button {
    width: 8%;
}

.mgrSch ul li.team img {
    width: 50px;
    height: 50px;
}

.mgrSch ul li.leftTeam {
    justify-content: flex-end;
}

.mgrSch ul li.rightTeam {
    justify-content: flex-start;
}

.mgrSch ul li label span {
    position: relative;
    padding-left: 10px;
}

section.schInfo .closeBtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
}

.schPopup caption {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    color: var(--pointColor);
    margin-bottom: 15px;
    margin-top: 50px;
    padding-left: 26px;
}

.schPopup {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
}

.schPopup caption span {
    font-weight: 600;
    position: relative;
}

.schPopup caption span::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -26px;
    height: 30px;
    width: 5px;
    background-color: var(--pointColor);
}

.schPopup caption span::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -26px;
    height: 5px;
    width: 5px;
    background-color: #aec8f4;
}

.schPopup table {
    width: 100%;
    background-color: #fff;
}

.schPopup table tr {
    border: 1px solid #d7d7d7;
}

.schPopup table,
.schPopup th,
.schPopup td {
    border-collapse: collapse;
}

.schPopup table th {
    padding: 21px 0;
    background-color: #f2f2f2;
    border: 1px solid #d7d7d7;
}

.schPopup table:first-child td {
    text-align: left;
    padding-left: 10px;
}

.schSelect {
    width: 90%;
    border: 3px solid #eee;
}

.schSelect:hover {
    border: 5px solid #eee;
}

/*수정버튼*/
section#mgrTeamContent table tbody td a.teamBtn,
section#addPlayerContent table tbody td a.playerBtn,
section#mgrSchContent a.schBtn,
section#mgrUserContent table tbody td a.userBtn {
    background-color: #4c89cd;
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

section#mgrTeamContent table tbody td a.teamBtn:hover,
section#addPlayerContent table tbody td a.playerBtn:hover,
section#mgrSchContent a.schBtn:hover,
section#mgrUserContent table tbody td a.userBtn:hover {
    background-color: var(--beforeColor);
}

/*삭제버튼*/
section#mgrTeamContent table tbody td a.teamDelBtn,
section#addPlayerContent table tbody td a.playerDelBtn,
section#mgrSchContent a.schDelBtn {
    background-color: rgb(190, 46, 46);
    color: #fff;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

section#mgrTeamContent table tbody td a.teamDelBtn:hover,
section#addPlayerContent table tbody td a.playerDelBtn:hover,
section#mgrSchContent a.schDelBtn:hover {
    background-color: var(--beforeColor);
}



/*media*/
@media screen and (max-width:1100px) {
    main .harlfButton li label {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 960px) {

    section#mgrTeamContent table thead th:first-child,
    section#mgrTeamContent table tbody td:first-child {
        display: none;
    }

    section#mgrTeamContent table th,
    section#mgrTeamContent table td,
    section#mgrTeamContent table td a {
        font-size: 0.9em;
    }

    section#mgrSchContent ul li .button {
        font-size: 0.9em;
    }

    section#addPlayerContent table thead th:first-child,
    section#addPlayerContent table tbody td:first-child,
    section#addPlayerContent table tbody td:nth-child(5),
    section#addPlayerContent table tbody td:nth-child(6),
    section#addPlayerContent table tbody td:nth-child(7),
    section#addPlayerContent table tbody td:nth-child(8) {
        display: none;
    }

    section#addPlayerContent table .col5,
    section#addPlayerContent table .col6,
    section#addPlayerContent table .col7,
    section#addPlayerContent table .col8 {
        display: none;
    }

    section#addPlayerContent table th,
    section#addPlayerContent table td,
    section#addPlayerContent table td a {
        font-size: 0.9em;
    }

    section#mgrUserContent table thead th:first-child,
    section#mgrUserContent table tbody td:first-child {
        display: none;
    }

    section#mgrUserContent table th,
    section#mgrUserContent table td,
    section#mgrUserContent table td a {
        font-size: 0.9em;
    }
}

@media screen and (max-width:1045px) {
    .mgrSch ul li:first-child {
        display: none;
    }

    .mgrSch ul li {
        font-size: 15px;
    }

    .mgrSch ul li.playInfo .schInfoDiv span {
        font-size: 15px;
    }

    .mgrSch ul li.team {
        width: 25%;
    }
}

@media screen and (max-width:880px) {
    .mgrSch ul li.team {
        width: 40%;
    }

    .mgrSch ul li.button {
        width: 15%;
    }

    .mgrSch ul li.score {
        display: none;
    }

    .mgrSch ul li.playInfo .schInfoDiv span:nth-child(2),
    .mgrSch ul li.playInfo .schInfoDiv span:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width:645px) {
    .mgrSch ul li.team {
        width: 35%;
    }

    .mgrSch ul li.button {
        width: 20%;
    }

    #mgrTeamContent table thead tr th.col4,
    #mgrTeamContent table tbody tr td:nth-child(4) {
        display: none;
    }
}