:root {
  --pointColor: #2c3c57;
  --beforeColor: #bfc4cc;
  --infoColor: #c2c0c5;
}

/* INPUT : RADIO */
input[type="radio"] {
  display: none;
}

input[id="notice"]:checked~.harlfButton label[for="notice"],
input[id="faq"]:checked~.harlfButton label[for="faq"] {
  background-color: var(--pointColor);
  color: #fff;
}

input[id="notice"]:checked~.container h1.faq,
input[id="notice"]:checked~.container section.faq,
input[id="faq"]:checked~.container h1.notice,
input[id="notice"]:checked~.container section.faq,
input[id="faq"]:checked~.container section.notice {
  display: none;
}

/* MAIN - CONTAINER */
main .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0 110px;
}

/* CONTAINER TITLE */
main .container h1 {
  text-align: center;
  padding-bottom: 24px;
  margin-bottom: 45px;
  font-size: 3em;
  font-weight: lighter;
  position: relative;
}

main .container h1::after {
  content: "";
  display: inline-block;
  width: 6rem;
  border: 1px solid #bfc4cc;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* CONTAINER - TABLE */
main .container table {
  width: 100%;
}

main .container table th,
main .container table td {
  padding: 14px;
}

/* CONTAINER - TABLE - post */
main .container table.post thead tr:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

main .container table.post tbody tr {
  line-height: 200px;
  padding-left: 30px;
}

main .container table.post thead,
main .container table.post tbody {
  border-top: 1px solid var(--pointColor);
  color: var(--pointColor);
}

main .container table.post thead th:first-child,
main .container table.post tbody th:first-child {
  text-align: left;
  padding-left: 40px;
}

main .container table.post thead tr th:nth-child(2){
  text-align: left;
}

main .container table.post tbody tr td.content {
  width: 55%;
}

main .container table.post thead .date {
  width: 9%;
}

main .container table.post thead .dateInput {
  width: 13%;
  color: var(--infoColor);
  font-weight: 100;
}

main .container table.post thead .show {
  width: 7%;
}

main .container table.post thead .showInput {
  color: var(--infoColor);
  font-weight: 100;
  width: 0;
}

main .container table.post tbody tr {
  border-bottom: 1px solid var(--pointColor);
  padding: 50px 30px;
}

/* CONTAINER - TABLE - postGo */
main .container .postGo td {
  padding: 0 0;
  height: 70px;
  border-top: 1px solid var(--beforeColor);
  border-bottom: 1px solid var(--beforeColor);

  text-align: center;
  color: var(--pointColor);
}

.postGo td:first-child {
  background-color: #eee;
  width: 120px;
}

.postGo td:last-child {
  text-align: left;
}

.postGo td span {
  margin: 10px;
}

/*ADD*/
main .container table.postAdd thead {
  border-top: 1px solid var(--pointColor);
  border-bottom: 1px solid var(--pointColor);
}

main .container table.postAdd th {
  text-align: center;
}

main .container table.postAdd tbody td {
  line-height: 30px;
}

main .container table.postAdd .title {
  width: 15%;
  color: var(--pointColor);
}

main .container table.postAdd .titleInput,
main .container table.postAdd .contentInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
}

main .container table.postAdd .contentInput {
  position: relative;
  top: 20px;
  height: 300px;
  outline: none;
}

main .container table.postAdd tbody tr {
  border-bottom: 1px solid var(--pointColor);
}

main .container .addButtons {
  position: relative;
  height: 70px;
  margin: 15px 0 20px;
  display: flex;
  justify-content: flex-end;
}

main .container .addButtons .notAddBtns {
  width: 90px;
  background-color: var(--pointColor);
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  margin: 8px 10px;
}

main .container .addButtons .notAddBtns:hover {
  background-color: var(--beforeColor);
}

@media screen and (max-width:900px) {
  .container table.post {
    font-size: 0.8rem;
  }

  main .container table.post tbody tr td.content {
    width: 25%;
  }

  main .container table.post thead .date {
    width: 20%;
  }
  
  main .container table.post thead .dateInput {
    width: 15%;
  }

  main .container table.post thead .show {
    width: 11%;
  }
}