<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
       
<configuration>
	<settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>  

    <typeAliases>
        <typeAlias type="com.zero.domain.Sample" alias="Sample"></typeAlias>
        <typeAlias type="com.zero.domain.CupTeam" alias="CupTeam"></typeAlias>
        <typeAlias type="com.zero.domain.CupPlayer" alias="CupPlayer"></typeAlias>
        
        <typeAlias type="com.zero.domain.Branch" alias="Branch"></typeAlias>
    </typeAliases>
</configuration>

