<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Branch">

 <select id="bList" resultType="Branch">
 SELECT * FROM BRANCH
 </select>
 
 <select id="readInfo" resultType="Branch">
 SELECT * FROM BRANCH WHERE BRANCH_CODE = #{branch_code} 
 </select>
 
<insert id="insertRes">
INSERT INTO RESERVATION(RE_BRANCH, RE_NAME, RE_TEL1, RE_TEL2, RE_TEL3, RE_PWD, RE_DATE, RE_STADIUM, RE_TIME, RE_TOTALPAY, RE_MEMO, RE_PAYMENT)
VALUES(#{re_branch}, #{re_name}, #{re_tel1}, #{re_tel2}, #{re_tel3}, #{re_pwd}, #{re_date}, #{re_stadium}, #{re_time}, #{re_totalpay}, #{re_memo}, '결제완료')
</insert>

<select id="checkTime" resultType="Reservation">
SELECT T.TIME_NO, T.TIME_START, T.TIME_END
FROM TIME T
WHERE T.TIME_NO NOT IN (
    SELECT R.RE_TIME
    FROM RESERVATION R
    WHERE R.RE_BRANCH = #{re_branch} 
    AND R.RE_DATE = #{re_date}
    AND R.RE_STADIUM = #{re_stadium})
</select>

<select id="rList" resultType="Reservation">
SELECT
    R.*,
    B.BRANCH_NAME,
    S.STADIUM_NAME,
    T.TIME_START,
    T.TIME_END
FROM RESERVATION R
JOIN BRANCH B ON R.RE_BRANCH = B.BRANCH_NO
JOIN STADIUM S ON R.RE_STADIUM = S.STADIUM_NO
JOIN TIME T ON R.RE_TIME = T.TIME_NO
WHERE R.RE_NAME = #{re_name} AND R.RE_PWD = #{re_pwd}
ORDER BY R.RE_NO DESC
</select>

<update id="rDelete">
UPDATE RESERVATION
SET RE_PAYMENT = '취소요청'
WHERE RE_NO = #{re_no} 
AND RE_PWD = #{re_pwd}
</update>

<select id="mList" resultType="Reservation">
SELECT
    R.*,
    B.BRANCH_NAME,
    S.STADIUM_NAME,
    T.TIME_START,
    T.TIME_END
FROM RESERVATION R
JOIN BRANCH B ON R.RE_BRANCH = B.BRANCH_NO
JOIN STADIUM S ON R.RE_STADIUM = S.STADIUM_NO
JOIN TIME T ON R.RE_TIME = T.TIME_NO
ORDER BY R.RE_NO DESC
</select>

<update id="rCancel">
UPDATE RESERVATION
SET RE_PAYMENT = '예약취소'
WHERE RE_NO = #{re_no} 
</update>
 
 </mapper>