<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cup">
    <insert id="insertTeam" parameterType="CupTeam">
        insert into Cup_Team(TEAM_NAME, TEAM_LEADER, TEAM_PHONE, TEAM_MAIL, TEAM_UNIFORM_HOME, TEAM_UNIFORM_AWAY, TEAM_EMBLEM, TEAM_PASSWORD, TEAM_CODE, TEAM_MEMBER_CNT, TEAM_REG_YEAR, BRANCH_NO)
        values(#{team_name}, #{team_leader}, #{team_phone}, #{team_mail}, #{team_uniform_home}, #{team_uniform_away}, #{team_emblem}, #{team_password}, #{team_code} , #{team_member_cnt}, #{team_reg_year}, #{branch_no})
    </insert>
    
    <select id="selectTeam" resultType="CupTeam">
        select * from CUP_TEAM       
    </select>
    
    <select id="selectOneTeam" parameterType="int" resultType="CupTeam">
        select * from CUP_TEAM  WHERE team_no = #{team_no}
    </select>
    
    <select id="selectTeamByTeamName" parameterType="String" resultType="int">
        select * from CUP_TEAM TEAM_NO WHERE team_name = #{cupTeam_name}
    </select>
     
    <insert id="insertPlayer" parameterType="CupPlayer">
        insert into Cup_Player(PLAYER_NAME, PLAYER_PHOTO, PLAYER_GAMES, PLAYER_GOAL, PLAYER_YELLOW_CARD, PLAYER_RED_CARD, TEAM_NO)
        values(#{player_name}, #{player_photo}, #{player_games}, #{player_goal}, #{player_yellow_card}, #{player_red_card}, #{team_no})
    </insert>
    
    <select id="selectPlayer" resultType="CupPlayer">
        select * from cup_player
    </select>

	<select id="selectschedule" resultType="Cupschedule">
        select * from CUP_MATCH_SCHEDULE
    </select>

    <resultMap id="CupPlayerResultMap" type="CupPlayer">  
        <id property="player_no" column="PLAYER_NO"/>
        <result property="player_name" column="PLAYER_NAME"/>
        <result property="player_photo" column="PLAYER_PHOTO"/>
        <result property="player_games" column="PLAYER_GAMES"/>
        <result property="player_goal" column="PLAYER_GOAL"/>
        <result property="player_yellow_card" column="PLAYER_YELLOW_CARD"/>
        <result property="player_red_card" column="PLAYER_RED_CARD"/>
        <collection property="cup_team" resultMap="CupTeamResultMap"/>
    </resultMap>
    
    <resultMap id="CupTeamResultMap" type="CupTeam">
        <id property="team_no" column="TEAM_NO"/>
        <result property="team_name" column="TEAM_NAME"/>
        <result property="team_leader" column="TEAM_LEADER"/>
        <result property="team_phone" column="TEAM_PHONE"/>
        <result property="team_mail" column="TEAM_MAIL"/>
        <result property="team_uniform_home" column="TEAM_UNIFORM_HOME"/>
        <result property="team_uniform_away" column="TEAM_UNIFORM_AWAY"/>
        <result property="team_emblem" column="TEAM_EMBLEM"/>
        <result property="team_password" column="TEAM_PASSWORD"/>
        <result property="team_code" column="TEAM_CODE"/>
        <result property="team_member_cnt" column="TEAM_MEMBER_CNT"/>
        <result property="team_reg_year" column="TEAM_REG_YEAR"/>
        <result property="branch_no" column="BRANCH_NO"/>
        <association property="branch" javaType="branch">
		    <id property="branch_no" column="BRANCH_NO" />
		    <result property="branch_name" column="BRANCH_NAME" />
        </association>
    </resultMap>
       
	<select id="selectCupTeamAndPlayers" resultMap="CupPlayerResultMap">
	    SELECT
	         p.*, t.*
	    FROM
	        Cup_Player p
	    JOIN
	        Cup_Team t
	    ON
	        p.TEAM_NO = t.TEAM_NO
	</select>
	
	<select id="selectTeamWithbranch" resultMap="CupTeamResultMap">
       	SELECT
    	    t.*,
    	    b.branch_no,
    	    b.branch_name 
	    FROM
	        Cup_Team t
		JOIN
	        branch b
	    ON
	        t.branch_no = b.branch_no               
    </select>
	
	<select id="selectTeamAndPlayerRanking" resultMap="CupPlayerResultMap">
	    SELECT
	         p.*, t.*
	    FROM
	        Cup_Player p
	    JOIN
	        Cup_Team t
	    ON
	        p.TEAM_NO = t.TEAM_NO
	    ORDER BY 
	    	PLAYER_GOAL DESC;    
	</select>

	<select id="selectTeamDetail" parameterType="int" resultMap="CupPlayerResultMap">
	    SELECT
	         p.*,t.*,
	         b.branch_no,
	         b.branch_name
	    FROM
	        Cup_Player p
	    JOIN
	        Cup_Team t 
	    ON
	        p.TEAM_NO = t.TEAM_NO
	    JOIN
	        branch b 
	    ON
	        b.branch_no = t.branch_no    
	    WHERE 
	    	t.TEAM_NO = #{player_no}
	</select>
	<select id="CupTeamByPlayerList" resultMap="CupPlayerResultMap">
		SELECT
	         p.*, t.*
	    FROM
	        Cup_Player p
	    JOIN
	        Cup_Team t
	    ON
	        p.TEAM_NO = t.TEAM_NO
	    WHERE
		 	t.TEAM_NO = #{player_no};    
	</select>
 	<resultMap id="CupScheduleResultMap" type="CupSchedule">  
        <id property="schedule_no" column="SCHEDULE_NO"/>
        <result property="schedule_location" column="SCHEDULE_LOCATION"/>
        <result property="schedule_date" column="SCHEDULE_DATE"/>
        <result property="schedule_time" column="SCHEDULE_TIME"/>
        <result property="schedule_home_goal" column="SCHEDULE_HOME_GOAL"/>
        <result property="schedule_away_goal" column="SCHEDULE_AWAY_GOAL"/>
        <result property="branch_no" column="BRANCH_NO"/>
     
    	<association property="cup_home_team" javaType="CupTeam">
            <id property="team_no" column="TEAM_HOME_NO"/>
            <result property="team_name" column="HOME_NAME"/>
            <result property="team_emblem" column="HOME_EMBLEM"/>
        </association>
    	<association property="cup_away_team" javaType="CupTeam">
            <id property="team_no" column="TEAM_AWAY_NO"/>
            <result property="team_name" column="AWAY_NAME"/>
            <result property="team_emblem" column="AWAY_EMBLEM"/>
        </association>
        
        <association property= "detail" javaType="CupMatchDetail">
        	<id property="detail_no" column="DETAIL_NO"/>
        	<result property="detail_home_goal" column="DETAIL_TEAM_HOME_GOAL"/>
            <result property="detail_away_goal" column="DETAIL_TEAM_AWAY_GOAL"/>
            <result property="detail_home_yellow_card" column="DETAIL_HOME_YELLOW_CARD"/>
            <result property="detail_away_yellow_card" column="DETAIL_AWAY_YELLOW_CARD"/>
            <result property="detail_home_red_card" column="DETAIL_HOME_RED_CARD"/>
            <result property="detail_away_red_card" column="DETAIL_AWAY_RED_CARD"/>
        </association>
        
        <association property="branch" javaType="branch">
		    <id property="branch_no" column="BRANCH_NO" />
		    <result property="branch_name" column="BRANCH_NAME" />
        </association>
    </resultMap>
    
   	<select id="selectScheduleDetail" resultMap="CupScheduleResultMap">
	   	SELECT
    	    s.*,
    	    d.*, 
			h.TEAM_NO,
			h.TEAM_NAME AS HOME_NAME,
			h.TEAM_EMBLEM AS HOME_EMBLEM,
			a.TEAM_NO,
			a.TEAM_NAME AS AWAY_NAME,
			a.TEAM_EMBLEM AS AWAY_EMBLEM,
			b.branch_no,
	        b.branch_name
	    FROM
	        cup_match_schedule s
		JOIN
	        Cup_Team h
	    ON
	        h.TEAM_NO = s.TEAM_HOME_NO        
	    JOIN
	        Cup_Team a
	    ON
	    	a.TEAM_NO = s.TEAM_AWAY_NO
	    JOIN
	    	CUP_MATCH_DETAIL d
	    ON
	    	d.DETAIL_NO = s.DETAIL_NO
	    JOIN
	    	BRANCH b
	    ON
	    	b.branch_no = s.branch_no		
	    ORDER BY 
	    	s.SCHEDULE_DATE DESC;	      
	</select>
	
	<select id="selectTeamSchedule" parameterType="int" resultMap="CupScheduleResultMap">
	    SELECT
    	    s.*,
    	    d.*, 
			h.TEAM_NO,
			h.TEAM_NAME AS HOME_NAME,
			h.TEAM_EMBLEM AS HOME_EMBLEM,
			a.TEAM_NO,
			a.TEAM_NAME AS AWAY_NAME,
			a.TEAM_EMBLEM AS AWAY_EMBLEM
	    FROM
	        cup_match_schedule s
		JOIN
	        Cup_Team h
	    ON
	        h.TEAM_NO = s.TEAM_HOME_NO        
	    JOIN
	        Cup_Team a
	    ON
	    	a.TEAM_NO = s.TEAM_AWAY_NO
	    JOIN
	    	CUP_MATCH_DETAIL d
	    ON
	    	d.DETAIL_NO = s.DETAIL_NO
	    WHERE
		 	TEAM_HOME_NO = #{team_no} OR TEAM_AWAY_NO = #{team_no}	
		ORDER BY 
	    	s.SCHEDULE_DATE DESC; 	    			
	</select>
	    
    <update id="updateTeam" parameterType="CupTeam">
    	 update CUP_TEAM set 
    	 	TEAM_NAME = #{team_name}, 
    	 	TEAM_LEADER = #{team_leader}, 
    	 <!-- TEAM_PHONE = #{team_phone}, 
    	 	TEAM_MAIL = #{team_mail},   -->	
    	 	TEAM_UNIFORM_HOME = #{team_uniform_home},
    	 	TEAM_UNIFORM_AWAY = #{team_uniform_away},
    	  	TEAM_EMBLEM = #{team_emblem},  
   		<!--	TEAM_PASSWORD = #{team_password}, -->	
   			BRANCH_NO = #{branch_no}
    	 	where TEAM_NO = #{team_no}
    </update>
 
    <update id="updateManagerByCupTeam" parameterType="CupTeam">
    	 update CUP_TEAM set 
   			BRANCH_NO = #{branch_no},
    	 	TEAM_NAME = #{team_name}, 
    	 	TEAM_LEADER = #{team_leader}, 
    	 	TEAM_PHONE = #{team_phone}, 
    	 	TEAM_MAIL = #{team_mail},  
   			TEAM_PASSWORD = #{team_password},
   			TEAM_CODE = #{team_code}	
    	 	where TEAM_NO = #{team_no}
    </update> 
    
    <delete id="deleteTeam" parameterType="int">
        DELETE FROM CUP_TEAM WHERE TEAM_NO = #{team_no} 
    </delete>
    
    <delete id="deletePlayer" parameterType="int">
        DELETE FROM CUP_PLAYER WHERE PLAYER_NO = #{player_no} 
    </delete>
    
    <!-- Manager -->
    <insert id="insertSchedule" parameterType="CupSchedule">
        insert into CUP_MATCH_SCHEDULE(TEAM_HOME_NO, TEAM_AWAY_NO, SCHEDULE_LOCATION, SCHEDULE_DATE, SCHEDULE_TIME, SCHEDULE_HOME_GOAL, SCHEDULE_AWAY_GOAL, BRANCH_NO, DETAIL_NO)
        values(#{team_home_no}, #{team_away_no}, #{schedule_location}, #{schedule_date}, #{schedule_time}, #{schedule_home_goal}, #{schedule_away_goal}, #{branch_no}, #{detail_no})
    </insert>
    <update id="updateSchedule">
    	 update cup_match_schedule set 
    	 	SCHEDULE_HOME_GOAL = #{schedule_home_goal}, 
    	 	SCHEDULE_AWAY_GOAL = #{schedule_away_goal} 
    	 	WHERE SCHEDULE_NO = #{schedule_no}
    </update>
    
    <insert id="insertScheduleDetail" parameterType="CupMatchDetail">
        insert into cup_match_detail(DETAIL_TEAM_HOME_GOAL, DETAIL_TEAM_AWAY_GOAL, DETAIL_HOME_YELLOW_CARD, DETAIL_AWAY_YELLOW_CARD, DETAIL_HOME_RED_CARD, DETAIL_AWAY_RED_CARD)
        values(#{detail_home_goal}, #{detail_away_goal}, #{detail_home_yellow_card}, #{detail_away_yellow_card}, #{detail_home_red_card}, #{detail_away_red_card})
    </insert>
    
   	<select id="selectScheduleCnt" resultType="int">
   		SELECT COUNT(*) as schedule_no FROM cup_match_schedule;
   	</select>
    
    <delete id="deleteSchedule" parameterType="int">
        DELETE FROM cup_match_schedule WHERE SCHEDULE_NO = #{schedule_no} 
    </delete>
    
    <update id="updateScheduleDetail" parameterType="CupMatchDetail">
    	 update cup_match_detail set 
    	 	DETAIL_TEAM_HOME_GOAL = #{detail_home_goal}, 
    	 	DETAIL_TEAM_AWAY_GOAL = #{detail_away_goal}, 
    	 	DETAIL_HOME_YELLOW_CARD = #{detail_home_yellow_card},
    	 	DETAIL_AWAY_YELLOW_CARD = #{detail_away_yellow_card},
    	  	DETAIL_HOME_RED_CARD = #{detail_home_red_card},  
			DETAIL_AWAY_RED_CARD = #{detail_away_red_card}
    	 	WHERE DETAIL_NO = #{detail_no}
    </update>
    
    <update id="updateManagerByCupPlayer" parameterType="CupPlayer">
    	 update CUP_PLAYER set 
    	 	PLAYER_NAME = #{player_name}, 
    	 	PLAYER_GAMES = #{player_games}, 
    	 	PLAYER_GOAL = #{player_goal},
    	 	PLAYER_YELLOW_CARD = #{player_yellow_card},
    	  	PLAYER_RED_CARD = #{player_red_card}  
    	 	WHERE PLAYER_NO = #{player_no}
    </update>
</mapper>



