<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">

    <select id="allMemberRead" resultType="Member"> 
        select * from member
    </select>
    
    <select id="memberRead" parameterType="int" resultType="Member">
    	select * from member where mem_no = #{mem_no}
    </select>
    
    <!-- 회원가입 -->
    <insert id="insertMember" parameterType="Member">
        insert into member(mem_id, mem_pw, mem_name, mem_phone)
        values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone})
    </insert>
    
    <select id="idCheck" parameterType="Member" resultType="int">
    	select count(1) mem_id from member where mem_id = #{mem_id}
    </select>
    
    <!-- ________________________________________________________ -->
    
    <!-- 로그인 -->
    <select id="login" parameterType="Member" resultType="String">
    	select mem_name from member where mem_id = #{mem_id} and mem_pw = #{mem_pw}
    </select>
    
    <!-- 네이버 아이디로 로그인하는 사람 확인 -->
    <select id="getBySnsNaver" parameterType="String" resultType="Member">
    	select * from member where naverId = #{emailId}
    </select>
    
    <!-- 구글 아이디로 로그인하는 사람 확인 -->
    <select id="getBySnsGoogle" parameterType="String" resultType="Member">
    	select * from member where googleId = #{emailId}
    </select>
    
    <!-- 카카오 아이디로 로그인하는 사람 확인 -->
    <select id="getBySnsKakao" parameterType="String" resultType="Member">
    	select * from member where KakaoId = #{emailId}
    </select>
    
    <!-- 아이디 찾기 -->
    <select id="findMemberId" parameterType="Member" resultType="String">
    	select mem_id from member where mem_phone = #{mem_phone} and mem_name = #{mem_name} 
    </select>
    
    <!-- 비밀번호 찾기 -->
    <select id="findMemberPw" parameterType="Member" resultType="String">
    	select mem_pw from member where mem_name = #{mem_name} and mem_id = #{mem_id} and mem_phone = #{mem_phone}
    </select>
    
    <!-- ________________________________________________________ -->
    
    <!-- 마이페이지 -->     
    <select id="getMemberLoginInfo" parameterType="String" resultType="Member">
    	select * from member where mem_id = #{mem_id}
    </select>
    
    <update id="updateMember" parameterType="Member">
    	update member set mem_pw = #{mem_pw}, mem_phone = #{mem_phone} where mem_id = #{mem_id}
    </update>
    
    <!-- ________________________________________________________ -->
    
    <!-- 탈퇴 -->
    <delete id="deleteMember">
    	delete from member where mem_id = #{mem_id}
    </delete> 
        
    <update id="updateSetPlayerNo" parameterType="Member">
    	update member set player_no = #{player_no} where mem_id = #{mem_id}
    </update>      
    
    <!-- 사용자관리 업데이트 -->
    <update id="updateMgrMember" parameterType="Member">
    	update member set mem_id = #{mem_id}, mem_name = #{mem_name}, mem_phone = #{mem_phone}, mem_pw = #{mem_pw} where mem_no = #{mem_no}
    </update>  
</mapper>