<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">

    <select id="selectMember" resultType="member">
        select * from member
    </select>
    
    <select id="memberNo" parameterType="int" resultType="member">
    	select * from member where mem_no = #{mem_no}
    </select>

    <insert id="insertMember" parameterType="member">
        insert into member(mem_id, mem_pw, mem_name, mem_phone)
        values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone})
    </insert>

    <update id="updateMember" parameterType="member">
    	 update member set mem_id = #{mem_id}, mem_pw = #{mem_pw}, mem_name = #{mem_name}, mem_phone = #{mem_phone} where mem_no = #{mem_no}
    </update>
    
</mapper>

